<header class="main-header">
  <div class="container">
    <!--(nav>(a>img)+ul>li*4>a)+ul>li*2>button-->
    <nav class="navigation">
      <a class="nav-logo" href="./index.html"
        ><img
          src="/img/first-page/logo.png"
          alt="logo"
          class="nav-logo-img"
        />Product
      </a>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link current" href="./index.html">Product</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./pricing.html">Pricing</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./customers.html">Customers</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./resources.html">Resources</a>
        </li>
      </ul>
    </nav>
    <ul class="header-list-btn">
      <li class="header-item-btn">
        <button type="button" class="header-btn sign-in">Sign In</button>
      </li>
      <li class="header-item-btn">
        <button type="button" class="header-btn sign-up">Sign Up</button>
      </li>
    </ul>
  </div>
</header>
