<section class="hero">
  <div class="container">
    <!-- h1+p+(ul>li*2>button)+img -->
    <div class="hero-wrap">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-title-desc">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <ul class="hero-list-btn">
        <li class="hero-list-item">
          <button type="button" class="hero-btn get-started">
            Get started
          </button>
        </li>
        <li class="hero-list-item">
          <button type="button" class="hero-btn watch-btn">
            <svg class="hero-btn-icon" width="20" height="18">
              <use href="/img/first-page/icons.svg#triangle"></use>
            </svg>
            Watch the Video
          </button>
        </li>
      </ul>
    </div>
    <img
      src="/img/first-page/hero-img.png"
      alt="Peoples with gadgets"
      width="610"
    />
  </div>
</section>
