<section class="specifically">
  <div class="container">
    <h2 class="spec-title">Product was Built Specifically for You</h2>
    <ul class="spec-list">
      <li class="spec-item">
        <div class="spec-wrap green">
          <svg class="spec-wrap-icon" width="18" height="18">
            <use href="/img/first-page/icons.svg#arrow"></use>
          </svg>
        </div>
        <h3 class="spec-item-title">First click tests</h3>
        <p class="spec-item-desc">While most people enjoy casino gambling,</p>
      </li>
      <li class="spec-item">
        <div class="spec-wrap blue">
          <svg class="spec-wrap-icon" width="18" height="18">
            <use href="/img/first-page/icons.svg#line"></use>
          </svg>
        </div>
        <h3 class="spec-item-title">Design surveys</h3>
        <p class="spec-item-desc">
          Sports betting, lottery and bingo playing for the fun
        </p>
      </li>
      <li class="spec-item">
        <div class="spec-wrap violet">
          <svg class="spec-wrap-icon" width="18" height="18">
            <use href="/img/first-page/icons.svg#heart"></use>
          </svg>
        </div>
        <h3 class="spec-item-title">Preference tests</h3>
        <p class="spec-item-desc">The Myspace page defines the individual.</p>
      </li>
      <li class="spec-item">
        <div class="spec-wrap red">
          <svg class="spec-wrap-icon" width="18" height="18">
            <use href="/img/first-page/icons.svg#clock"></use>
          </svg>
        </div>
        <h3 class="spec-item-title">Five second tests</h3>
        <p class="spec-item-desc">
          Personal choices and the overall personality of the person.
        </p>
      </li>
    </ul>
    <button type="button" class="spec-btn">Sign up now</button>
  </div>
</section>
