.specifically {
  padding: 50px 0 70px;
}
.container {
}
.spec-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  max-width: 530px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.spec-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
.spec-item {
  width: calc((100% - 90px) / 4);
}
.spec-wrap {
  margin-bottom: 18px;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.green {
  background: #02897a;
}
.blue {
  background: #4d8dff;
}
.violet {
  background: #740a76;
}
.red {
  background: #f03e3d;
}

.spec-wrap-icon {
  fill: #ffffff;
}
.spec-item-title {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}
.spec-item-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.spec-btn {
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
}
